@model IEnumerable<ITAssetTrackingApp.Models.AssetAssignmentHistory>

@{
    ViewData["Title"] = "Asset Assignment History";
}

<h1>Asset Assignment History</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssignedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnedDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Asset.AssetType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AssignmentId" class="btn btn-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AssignmentId" class="btn btn-success">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AssignmentId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
